body {
  margin: 2rem;
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

button {
  border-radius: 5px;
  margin: 0 0.5rem;
  padding: 0.2rem 0.4rem;
  background-color: rgb(236, 234, 234);

  &:active {
    transform: translateY(4px);
  }

  &:hover {
    cursor: pointer;
    background-color: darken($color: rgb(236, 234, 234), $amount: 15%);
  }
}

input {
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  max-width: 10rem;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  margin: 0 2rem 1rem 2rem;
}

article {
  width: 16rem;
}

.counter-display-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  button {
    font-size: 35px;
    border: none;
    background: transparent;
  }
}

p {
  text-align: center;
  width: 3rem;
  font-size: 25px;
  margin: 0.3rem;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;
}
